USE [master]
GO
/****** Object:  Database [ShoesManagement]    Script Date: 12/10/2022 8:16:35 AM ******/
CREATE DATABASE [ShoesManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShoesManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ShoesManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShoesManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ShoesManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShoesManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShoesManagement]
GO
/****** Object:  User [thong]    Script Date: 12/10/2022 8:16:35 AM ******/
CREATE USER [thong] FOR LOGIN [thong] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tblAccount]    Script Date: 12/10/2022 8:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccount](
	[UsId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[Password] [nvarchar](max) NOT NULL,
	[TypeAccount] [int] NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBill]    Script Date: 12/10/2022 8:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBill](
	[BillId] [int] IDENTITY(1,1) NOT NULL,
	[UsId] [int] NOT NULL,
	[CusId] [int] NOT NULL,
	[DateOfPayment] [datetime] NULL,
	[TotalPrice] [float] NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBillInfo]    Script Date: 12/10/2022 8:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBillInfo](
	[BillifId] [int] IDENTITY(1,1) NOT NULL,
	[BillId] [int] NOT NULL,
	[ProdId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BillifId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 12/10/2022 8:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[CateId] [int] IDENTITY(1,1) NOT NULL,
	[NameCate] [nvarchar](200) NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCustomer]    Script Date: 12/10/2022 8:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCustomer](
	[CusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblImportCoupon]    Script Date: 12/10/2022 8:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblImportCoupon](
	[ImcId] [int] IDENTITY(1,1) NOT NULL,
	[CheckDateImport] [date] NULL,
	[SupId] [int] NOT NULL,
	[UsId] [int] NOT NULL,
	[TypeImc] [int] NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImcId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblImportCouponInfo]    Script Date: 12/10/2022 8:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblImportCouponInfo](
	[ImcIdInFo] [int] IDENTITY(1,1) NOT NULL,
	[ImcId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ProdId] [int] NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImcIdInFo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProduct]    Script Date: 12/10/2022 8:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProduct](
	[ProdId] [int] IDENTITY(1,1) NOT NULL,
	[NameSP] [nvarchar](100) NOT NULL,
	[Price] [float] NOT NULL,
	[Image] [image] NOT NULL,
	[CateId] [int] NOT NULL,
	[SupId] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSupplier]    Script Date: 12/10/2022 8:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSupplier](
	[SupId] [int] IDENTITY(1,1) NOT NULL,
	[SupName] [nvarchar](100) NOT NULL,
	[SupAddress] [nvarchar](500) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblAccount] ON 

INSERT [dbo].[tblAccount] ([UsId], [UserName], [Password], [TypeAccount], [DisplayName], [Email], [Status]) VALUES (1, N'admin', N'admin', 1, N'Trần Thông', N'quangthong211101@gmail.com', 1)
INSERT [dbo].[tblAccount] ([UsId], [UserName], [Password], [TypeAccount], [DisplayName], [Email], [Status]) VALUES (2, N'nv123', N'123', 0, N'Thông Nhân viên', N'thongzuka2000@gmail.com', 1)
INSERT [dbo].[tblAccount] ([UsId], [UserName], [Password], [TypeAccount], [DisplayName], [Email], [Status]) VALUES (3, N'nv456', N'456', 0, N'Quang Nhân viên', N'thongzuka2001@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[tblAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[tblBill] ON 

INSERT [dbo].[tblBill] ([BillId], [UsId], [CusId], [DateOfPayment], [TotalPrice], [Status]) VALUES (1, 1, 1, CAST(N'2022-10-07T12:43:00.000' AS DateTime), 2992000, 1)
INSERT [dbo].[tblBill] ([BillId], [UsId], [CusId], [DateOfPayment], [TotalPrice], [Status]) VALUES (2, 1, 3, CAST(N'2022-10-07T14:44:00.000' AS DateTime), 4312000, 1)
INSERT [dbo].[tblBill] ([BillId], [UsId], [CusId], [DateOfPayment], [TotalPrice], [Status]) VALUES (3, 1, 4, CAST(N'2022-10-07T17:44:00.000' AS DateTime), 3344000, 1)
SET IDENTITY_INSERT [dbo].[tblBill] OFF
GO
SET IDENTITY_INSERT [dbo].[tblBillInfo] ON 

INSERT [dbo].[tblBillInfo] ([BillifId], [BillId], [ProdId], [Quantity], [Price], [Status]) VALUES (1, 1, 1, 1, 1672000, 1)
INSERT [dbo].[tblBillInfo] ([BillifId], [BillId], [ProdId], [Quantity], [Price], [Status]) VALUES (2, 1, 3, 2, 660000, 1)
INSERT [dbo].[tblBillInfo] ([BillifId], [BillId], [ProdId], [Quantity], [Price], [Status]) VALUES (3, 2, 3, 4, 660000, 1)
SET IDENTITY_INSERT [dbo].[tblBillInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCategory] ON 

INSERT [dbo].[tblCategory] ([CateId], [NameCate], [Status]) VALUES (1, N'Giày Nike', 1)
INSERT [dbo].[tblCategory] ([CateId], [NameCate], [Status]) VALUES (2, N'Dép Vento', 1)
INSERT [dbo].[tblCategory] ([CateId], [NameCate], [Status]) VALUES (3, N'Giày Adidas', 0)
SET IDENTITY_INSERT [dbo].[tblCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCustomer] ON 

INSERT [dbo].[tblCustomer] ([CusId], [Name], [Address], [PhoneNumber], [Status]) VALUES (1, N'Trần Thông', N'Đà Nẵng', N'0147852369', 1)
INSERT [dbo].[tblCustomer] ([CusId], [Name], [Address], [PhoneNumber], [Status]) VALUES (2, N'Nguyễn Huy Hoàng', N'Thanh Hóa', N'0123456789', 1)
INSERT [dbo].[tblCustomer] ([CusId], [Name], [Address], [PhoneNumber], [Status]) VALUES (3, N'Bùi Xuân Vũ', N'Gia Lai', N'0987654321', 1)
SET IDENTITY_INSERT [dbo].[tblCustomer] OFF
GO
SET IDENTITY_INSERT [dbo].[tblImportCoupon] ON 

INSERT [dbo].[tblImportCoupon] ([ImcId], [CheckDateImport], [SupId], [UsId], [TypeImc], [Status]) VALUES (1, CAST(N'2022-10-02' AS Date), 3, 1, 0, 1)
INSERT [dbo].[tblImportCoupon] ([ImcId], [CheckDateImport], [SupId], [UsId], [TypeImc], [Status]) VALUES (2, CAST(N'2022-10-06' AS Date), 2, 1, 1, 1)
INSERT [dbo].[tblImportCoupon] ([ImcId], [CheckDateImport], [SupId], [UsId], [TypeImc], [Status]) VALUES (3, CAST(N'2022-10-08' AS Date), 3, 1, 0, 1)
SET IDENTITY_INSERT [dbo].[tblImportCoupon] OFF
GO
SET IDENTITY_INSERT [dbo].[tblImportCouponInfo] ON 

INSERT [dbo].[tblImportCouponInfo] ([ImcIdInFo], [ImcId], [Quantity], [ProdId], [Status]) VALUES (1, 1, 10, 3, 1)
INSERT [dbo].[tblImportCouponInfo] ([ImcIdInFo], [ImcId], [Quantity], [ProdId], [Status]) VALUES (2, 1, 10, 1, 1)
INSERT [dbo].[tblImportCouponInfo] ([ImcIdInFo], [ImcId], [Quantity], [ProdId], [Status]) VALUES (3, 3, 100, 1, 1)
SET IDENTITY_INSERT [dbo].[tblImportCouponInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProduct] ON 

SET IDENTITY_INSERT [dbo].[tblProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSupplier] ON 

INSERT [dbo].[tblSupplier] ([SupId], [SupName], [SupAddress], [PhoneNumber], [Email], [Status]) VALUES (1, N'Giày VIT', N'Hà Nội', N'0966621342', N'xuonggiayvit@gmail.com', 1)
INSERT [dbo].[tblSupplier] ([SupId], [SupName], [SupAddress], [PhoneNumber], [Email], [Status]) VALUES (2, N'Giày Huy Hoàng', N'Hồ Chí Minh', N'0903697273', N'lhuytien@yahoo.com', 1)
INSERT [dbo].[tblSupplier] ([SupId], [SupName], [SupAddress], [PhoneNumber], [Email], [Status]) VALUES (3, N'Giày Dép Hatilo', N'Hồ Chí Minh', N'0966865121', N'giaydepsaoviet@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[tblSupplier] OFF
GO
ALTER TABLE [dbo].[tblBill] ADD  DEFAULT (sysdatetime()) FOR [DateOfPayment]
GO
ALTER TABLE [dbo].[tblBill]  WITH CHECK ADD FOREIGN KEY([CusId])
REFERENCES [dbo].[tblCustomer] ([CusId])
GO
ALTER TABLE [dbo].[tblBill]  WITH CHECK ADD FOREIGN KEY([UsId])
REFERENCES [dbo].[tblAccount] ([UsId])
GO
ALTER TABLE [dbo].[tblBillInfo]  WITH CHECK ADD FOREIGN KEY([BillId])
REFERENCES [dbo].[tblBill] ([BillId])
GO
ALTER TABLE [dbo].[tblBillInfo]  WITH CHECK ADD FOREIGN KEY([ProdId])
REFERENCES [dbo].[tblProduct] ([ProdId])
GO
ALTER TABLE [dbo].[tblImportCoupon]  WITH CHECK ADD FOREIGN KEY([SupId])
REFERENCES [dbo].[tblSupplier] ([SupId])
GO
ALTER TABLE [dbo].[tblImportCoupon]  WITH CHECK ADD FOREIGN KEY([UsId])
REFERENCES [dbo].[tblAccount] ([UsId])
GO
ALTER TABLE [dbo].[tblImportCouponInfo]  WITH CHECK ADD FOREIGN KEY([ImcId])
REFERENCES [dbo].[tblImportCoupon] ([ImcId])
GO
ALTER TABLE [dbo].[tblImportCouponInfo]  WITH CHECK ADD FOREIGN KEY([ProdId])
REFERENCES [dbo].[tblProduct] ([ProdId])
GO
ALTER TABLE [dbo].[tblProduct]  WITH CHECK ADD FOREIGN KEY([CateId])
REFERENCES [dbo].[tblCategory] ([CateId])
GO
ALTER TABLE [dbo].[tblProduct]  WITH CHECK ADD FOREIGN KEY([SupId])
REFERENCES [dbo].[tblSupplier] ([SupId])
GO
/****** Object:  StoredProcedure [dbo].[Get7Date]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Get7Date]
@checkin nvarchar(50),@checkout nvarchar(50)
AS
Begin
	--Câu truy vấn hiển thị danh sách
	Select B.BillId AS [Số Hóa Đơn],CUS.Name,B.TotalPrice AS [Tổng Tiền],DateOfPayment AS [Ngày Hóa Đơn]
	from tblBill AS B, tblCustomer AS CUS
	Where DateOfPayment  <= Convert(DateTime,@checkin) and DateOfPayment >= Convert(DateTime,@checkout) and CUS.CusId = B.CusId and B.Status = 1
End
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeIdName]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetEmployeeIdName]
@idus int
AS 
BEGIN
	SELECT CONVERT(NVARCHAR(50), UsId) + ' | ' + DisplayName + ' | ' + UserName FROM dbo.tblAccount WHERE UsId = @idus and Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[GetListBill]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[GetListBill]
@checkin nvarchar(50)
AS
Begin
	--Câu truy vấn hiển thị danh sách
	Select B.BillId AS [Số Hóa Đơn],CUS.Name,B.TotalPrice AS [Tổng Tiền],DateOfPayment AS [Ngày Hóa Đơn]
	from tblBill AS B, tblCustomer AS CUS
	Where DateOfPayment <= Convert(DateTime,@checkin) AND CUS.CusId = B.CusId and B.Status = 1
End
GO
/****** Object:  StoredProcedure [dbo].[GetListBillByDate]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[GetListBillByDate]
@checkin nvarchar(50),@checkout nvarchar(50)
AS
Begin
	--Câu truy vấn hiển thị danh sách
	Select B.BillId AS [Số Hóa Đơn],CUS.Name,B.TotalPrice AS [Tổng Tiền],DateOfPayment AS [Ngày Hóa Đơn]
	from tblBill AS B, tblCustomer AS CUS
	Where DateOfPayment <= Convert(DateTime,@checkin) AND DateOfPayment >= Convert(DateTime,@checkout) AND CUS.CusId = B.CusId and B.Status = 1
End
GO
/****** Object:  StoredProcedure [dbo].[GetTotalCustomer]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetTotalCustomer]
AS
BEGIN
	SELECT COUNT(*) from dbo.tblCustomer Where Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[GetTotalDate]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[GetTotalDate]
@checkin nvarchar(50),@checkout nvarchar(50)
AS
Begin
	--Câu truy vấn hiển thị danh sách
	Select B.BillId AS [Số Hóa Đơn],CUS.Name,B.TotalPrice AS [Tổng Tiền],DateOfPayment AS [Ngày Hóa Đơn]
	from tblBill AS B, tblCustomer AS CUS
	Where DateOfPayment  >= Convert(DateTime,@checkin) and DateOfPayment <= Convert(DateTime,@checkout) and CUS.CusId = B.CusId and B.Status = 1
End
GO
/****** Object:  StoredProcedure [dbo].[GetTotalPrice]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetTotalPrice]
AS
BEGIN
	SELECT SUM(TotalPrice) from dbo.tblBill Where Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[GetTotalShoes]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetTotalShoes]
AS
BEGIN
	SELECT SUM(Quantity) from dbo.tblBillInfo Where Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[GetTotalSupplier]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetTotalSupplier]
AS
BEGIN
	SELECT COUNT(*) from dbo.tblSupplier Where Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[GetUnitPrice]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetUnitPrice]
@name NVARCHAR(200)
AS 
BEGIN
	SELECT Price FROM dbo.tblProduct WHERE NameSP = @name and Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[ListBillInfo]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ListBillInfo]
AS 
BEGIN
	SELECT p.ProdId, p.NameSP, b.Quantity, b.Price FROM dbo.tblBillInfo b, dbo.tblProduct p WHERE p.ProdId = b.ProdId and p.Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[ListCustomerIdName]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ListCustomerIdName]
AS 
BEGIN
	SELECT CONVERT(NVARCHAR(50), CusId) + ' | ' + Name + ' | ' + PhoneNumber FROM dbo.tblCustomer Where Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[ListOfBills]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ListOfBills]
AS 
BEGIN
	SELECT b.BillId, c.Name, DateOfPayment, TotalPrice
	FROM dbo.tblBill b, dbo.tblCustomer c
	WHERE b.CusId = c.CusId and b.Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[ListOfCTBillInfo]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ListOfCTBillInfo]
@id int
AS
BEGIN
	SELECT p.NameSP, bi.Quantity, p.Price
	FROM dbo.tblBillInfo bi, tblProduct p
	Where p.ProdId = bi.ProdId and p.Price = bi.Price and bi.BillId = @id
END
GO
/****** Object:  StoredProcedure [dbo].[ListOfDSPN]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ListOfDSPN]
@id int
AS
BEGIN
	SELECT ic.ImcId, p.NameSP, icinf.Quantity, sup.SupName, acc.DisplayName, ic.CheckDateImport
	FROM tblProduct p, tblImportCoupon ic, tblImportCouponInfo icinf, tblSupplier sup, tblAccount acc
	Where p.ProdId = icinf.ProdId and ic.ImcId = icinf.ImcId and sup.SupId = ic.SupId and acc.UsId = ic.UsId and ic.ImcId = @id
END
GO
/****** Object:  StoredProcedure [dbo].[ListProductNameQuantity]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ListProductNameQuantity]
AS 
BEGIN
	SELECT NameSP + ' | ' + CONVERT(NVARCHAR(50), Quantity) FROM dbo.tblProduct Where Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[SearchCustomerInBill]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SearchCustomerInBill]
@name NVARCHAR(50)
AS
BEGIN
	SELECT b.BillId, c.Name, DateOfPayment, TotalPrice
	FROM dbo.tblBill b, dbo.tblCustomer c
	WHERE b.CusId = c.CusId AND c.PhoneNumber LIKE '%' + @name + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[USP_AccountLogin]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_AccountLogin]
@usname nvarchar(100),@Pass nvarchar(100)
AS 
BEGIN
	Select * from dbo.tblAccount Where UserName=@usname And Password = @Pass
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DelBill]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DelBill]
@id int
AS 
BEGIN
	Update dbo.tblBill Set Status = 0 Where BillId = @id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DelCate]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DelCate]
@idCate int
AS
Begin
	Update dbo.tblCategory Set Status = 0 Where CateId = @idCate
End
GO
/****** Object:  StoredProcedure [dbo].[USP_DelCustomers]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DelCustomers]
@idCus int
AS 
BEGIN
	Update dbo.tblCustomer Set Status = 0 Where CusId = @idCus
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DelImportCoupon]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_DelImportCoupon]
@id int
AS 
BEGIN
	Update dbo.tblImportCoupon Set Status = 0 Where ImcId = @id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DelProduct]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DelProduct]
@idP int
AS 
BEGIN
	Update dbo.tblProduct Set Status = 0 Where ProdId = @idP
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DelSupplier]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DelSupplier]
@id int
AS 
BEGIN
	Update dbo.tblSupplier Set Status = 0 Where SupId = @id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DelUser]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[USP_DelUser]
@idU int
AS 
BEGIN
	Update dbo.tblAccount Set Status = 0 Where UsId = @idU
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetIdSP]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[USP_GetIdSP]
@name NVARCHAR(200)
AS 
BEGIN
	SELECT * FROM dbo.tblProduct WHERE NameSP LIKE N''+@name+''
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetImportCoupon]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetImportCoupon]
AS
BEGIN
	SELECT ImcId,CheckDateImport,SupId,UsId,TypeImc FROM tblImportCoupon Where Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetImportCouponDel]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetImportCouponDel]
AS
BEGIN
	SELECT ImcId,CheckDateImport,SupId,UsId,TypeImc FROM tblImportCoupon Where Status = 0
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListCus]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GetListCus]
AS
BEGIN
	SELECT CusId,Name,Address,PhoneNumber FROM tblCustomer Where Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListCusDel]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListCusDel]
AS
BEGIN
	SELECT CusId,Name,Address,PhoneNumber FROM tblCustomer Where Status = 0
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListSupplier]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListSupplier]
AS
BEGIN
	SELECT SupId,SupName,SupAddress,PhoneNumber,Email FROM tblSupplier Where Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListSupplierDel]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListSupplierDel]
AS
BEGIN
	SELECT SupId,SupName,SupAddress,PhoneNumber,Email FROM tblSupplier Where Status = 0
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListUser]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListUser]
AS 
BEGIN
	Select UsId,UserName,Password,TypeAccount,DisplayName,Email from dbo.tblAccount Where Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListUserDel]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListUserDel]
AS 
BEGIN
	Select UsId,UserName,Password,TypeAccount,DisplayName,Email from dbo.tblAccount Where Status = 0
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetQuantitySP]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetQuantitySP]
@idSP int
AS 
BEGIN
	SELECT * FROM dbo.tblProduct WHERE ProdId = @idSP
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBill]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertBill]
@usid int,@cusid int,@dateTT Datetime,@total float,@status int
AS
BEGIN
	INSERT INTO dbo.tblBill VALUES(@usid,@cusid,@dateTT,@total,@status)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBillInfo]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertBillInfo]
@idBill int,@proid int,@quantity int,@price float,@status int
AS
BEGIN
	INSERT INTO dbo.tblBillInfo VALUES(@idBill,@proid,@quantity,@price,@status)
	Update dbo.tblProduct Set Quantity = Quantity - @quantity Where ProdId = @proid and Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertCustomers]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertCustomers]
@name NVARCHAR(100), @diachi NVARCHAR(50),@sdt NVARCHAR(50),@status int
AS 
BEGIN
	INSERT INTO dbo.tblCustomer VALUES(@name, @diachi, @sdt, @status)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertImportCoupon]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertImportCoupon]
@date Date, @supid int, @usid int, @type int , @status int
AS 
BEGIN
	INSERT INTO dbo.tblImportCoupon VALUES(@date,@supid,@usid,@type,@status)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertImportCouponInfo]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertImportCouponInfo]
@imcid int,@quantity int,@prodid int,@status int
AS
BEGIN
	INSERT INTO dbo.tblImportCouponInfo VALUES(@imcid,@quantity,@prodid,@status)
	Update dbo.tblProduct set Quantity = Quantity + @quantity Where ProdId = @prodid
	Update dbo.tblImportCoupon set TypeImc = 0 Where ImcId = @imcid
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertProduct]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertProduct]
@name NVARCHAR(100), @price FLOAT, @image IMAGE, @cateId int, @SupId int,@quantity int,@status int
AS 
BEGIN
	INSERT INTO dbo.tblProduct VALUES(@name, @price , @image, @cateId,@SupId,@quantity,@status)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertSupplier]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertSupplier]
@name NVARCHAR(100), @diachi NVARCHAR(100),@sdt NVARCHAR(50),@email NVARCHAR(100),@status int
AS 
BEGIN
	INSERT INTO dbo.tblSupplier VALUES(@name, @diachi, @sdt, @email, @status)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertUser]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[USP_InsertUser]
@name NVARCHAR(100), @pass NVARCHAR(100), @Type int, @displayN NVARCHAR(100),@email NVARCHAR(100),@status int
AS 
BEGIN
	INSERT INTO dbo.tblAccount VALUES(@name, @pass , @Type, @displayN, @email, @status)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ListOfCategory]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ListOfCategory]
AS
BEGIN
	SELECT CateId, NameCate FROM tblCategory Where Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ListOfCategoryDel]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ListOfCategoryDel]
AS
BEGIN
	SELECT CateId, NameCate FROM tblCategory Where Status = 0
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ListOfProduct]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_ListOfProduct]
AS
BEGIN
	SELECT ProdId,NameSP,Price,Image,CateId,SupId,Quantity FROM tblProduct Where Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ListOfProductDel]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ListOfProductDel]
AS
BEGIN
	SELECT ProdId,NameSP,Price,Image,CateId,SupId,Quantity FROM tblProduct Where Status = 0
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PhucHoiCate]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_PhucHoiCate]
@id int
AS
BEGIN
	Update dbo.tblCategory Set Status = 1 Where CateId = @id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PhucHoiKhachHang]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_PhucHoiKhachHang]
@phone nvarchar(200)
AS
BEGIN
	Update dbo.tblCustomer Set Status = 1 Where PhoneNumber = @phone
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PhucHoiNCC]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_PhucHoiNCC]
@phone nvarchar(200)
AS
BEGIN
	Update dbo.tblSupplier Set Status = 1 Where PhoneNumber = @phone
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PhucHoiSP]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_PhucHoiSP]
@id int
AS
BEGIN
	Update dbo.tblProduct Set Status = 1 Where ProdId = @id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PhucHoiTaiKhoan]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_PhucHoiTaiKhoan]
@name nvarchar(200)
AS
BEGIN
	Update dbo.tblAccount Set Status = 1 Where Email = @name
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SearcCustomers]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SearcCustomers]
@name NVARCHAR(200)
AS 
BEGIN
	SELECT CusId,Name,Address,PhoneNumber FROM dbo.tblCustomer WHERE PhoneNumber LIKE '%' + @name + '%' and Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SearchAcc]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_SearchAcc]
@name NVARCHAR(200)
AS 
BEGIN
	SELECT UsId,UserName,Password,TypeAccount,DisplayName,Email FROM dbo.tblAccount WHERE Email LIKE '%' + @name + '%' and Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SearchCate]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SearchCate]
@name NVARCHAR(200)
AS 
BEGIN
	SELECT CateId,NameCate FROM dbo.tblCategory WHERE NameCate LIKE '%' + @name + '%' and Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SearchProducts]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SearchProducts]
@name NVARCHAR(200)
AS 
BEGIN
	SELECT ProdId,NameSP,Price,Image,CateId,SupId,Quantity FROM dbo.tblProduct WHERE NameSP LIKE '%' + @name + '%' and Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SearcSupplier]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SearcSupplier]
@name NVARCHAR(200)
AS 
BEGIN
	SELECT SupId,SupName,SupAddress,PhoneNumber,Email FROM dbo.tblSupplier WHERE PhoneNumber LIKE '%' + @name + '%' and Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateCustomers]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateCustomers]
@name NVARCHAR(100), @diachi NVARCHAR(50),@sdt NVARCHAR(50),@idCus int
AS 
BEGIN
	Update dbo.tblCustomer set Name = @name , Address = @diachi , PhoneNumber = @sdt Where CusId = @idCus
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateImportCoupon]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateImportCoupon]
@date Date, @supid int, @usid int,@id int
AS 
BEGIN
	Update dbo.tblImportCoupon set CheckDateImport = @date , SupId = @supid , UsId = @usid Where ImcId = @id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateProduct]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateProduct]
@name NVARCHAR(100), @price FLOAT, @image IMAGE, @cateId int, @SupId int,@idP int
AS 
BEGIN
	Update dbo.tblProduct set NameSP = @name , Price = @price , Image = @image , CateId = @cateId , SupId = @SupId Where ProdId = @idP
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateSupplier]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateSupplier]
@name NVARCHAR(100), @diachi NVARCHAR(100),@sdt NVARCHAR(50),@email NVARCHAR(100) ,@id int
AS 
BEGIN
	Update dbo.tblSupplier set SupName = @name , SupAddress = @diachi , PhoneNumber = @sdt ,	Email = @email Where SupId = @id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateUser]    Script Date: 12/10/2022 8:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[USP_UpdateUser]
@name NVARCHAR(100), @pass NVARCHAR(100), @Type int, @displayN NVARCHAR(100),@email NVARCHAR(100),@idU int
AS 
BEGIN
	Update dbo.tblAccount set UserName = @name, Password = @pass , TypeAccount = @Type , DisplayName = @displayN , Email = @email where UsId = @idU 
END
GO
USE [master]
GO
